---
feature_name: Web NFC
chrome_version: 89
feature_id: 6261030015467520
check_min_version: true
---
<style type="text/css">
  .myButton {
	box-shadow:inset 0px 1px 3px 0px #91b8b3;
	background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
	background-color:#768d87;
	border-radius:5px;
	border:1px solid #566963;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:32px 76px;
	text-decoration:none;
	text-shadow:0px -1px 0px #2b665e;
}
.myButton:hover {
	background:linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
	background-color:#6c7c7c;
}
.myButton:active {
	position:relative;
	top:1px;
}

   
</style>
<h3>Stellar-EAC</h3>

<button id="writeButton" class="myButton">Write</button>
<button id="scanButton" class="myButton">Scan</button>

{% include output_helper.html initial_output_content=initial_output_content %}

<script>
log = ChromeSamples.log;

if (!("NDEFReader" in window))
  ChromeSamples.setStatus("Web NFCss not available. Use Chrome on Android.");

const urlParams = new URLSearchParams(window.location.search);

const access = urlParams.get('access');
const name = urlParams.get('name');

log("name: " + name);
log("access: " + access);
</script>

{% include js_snippet.html filename='index.js' %}
