---
feature_name: Web NFC
chrome_version: 89
feature_id: 6261030015467520
check_min_version: true
---

<h3>Stellar-EAC</h3>

<button id="writeButton">Write</button>

{% include output_helper.html initial_output_content=initial_output_content %}

<script>
log = ChromeSamples.log;

if (!("NDEFReader" in window))
  ChromeSamples.setStatus("Web NFCss not available. Use Chrome on Android.");

const urlParams = new URLSearchParams(window.location.search);
const access = urlParams.get('access');
const name = urlParams.get('name');

log("name: " + name);
log("access: " + access);
</script>

{% include js_snippet.html filename='index.js' %}
